/*
COLOR PALETTE
-------------
#f7fff7 - almost white
#343434 - dark gray - almost black
#2f3061 - blue dark
#ffe66d - yellow
#a1c6d7 - light blue
*/

/* GLOBAL STYLES
----------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    /*background: linear-gradient(45deg, #a1c6d7, #2f3061);*/
    background: url(imgs/unsplash/sharon-mccutcheon-unsplash.jpg);
    background-size: 80%;
    animation: color 12s ease-in-out infinite;
}

/* PROFILE SECTION */

header {
    background-color: #2f3061;
    color: #f7fff7;
}
.content-wrapper {
    max-width: 50em;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h1 {
    font-size: 6.25rem;
    line-height: 1;
}

h2 {
    font-size: 2.813rem;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

a {
    color: #ffe66d;
}

a:hover {
    text-decoration: none;
}

/* WORK EXPERIENCE SECTION */

.work-experience {
    background: #a1c6d7;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3~p {
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

/******************** EDUCATION SECTION ********************/
.education {
    background-image: url(imgs/unsplash/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 6.25rem;
}

.education p {
    width: 65%;
}

/******************** CERTIFICATION SECTION ********************/
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /*background: linear-gradient(30deg, #2f3061, #a1c6d7);*/
    background: url(imgs/unsplash/sharon-mccutcheon-unsplash.jpg);
    background-size: 40%;
    width: 100%;

}

article {
    padding: 1rem;
    flex-basis: 100%;
}


img {
    width: 18.75rem;
}

h2 #cert {
margin-left: 3.125rem;
}

h3 span {
margin-left: 3.438rem;
}
/******************** CONTACT / SOCIAL MEDIA FOOTER SECTION ********************/

footer {
    background: #343434;
    color: #f7fff7;
}


.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-list li {
    margin: 0;
    position: relative;
}

.contact-list li i {
    position: absolute;
    top: -1.563em;
    left: 50%;
    transform: translateX(-50%);
    background: #343434;
    padding: 0.625em;
    border-radius: 50%;
}

.contact-list a {
    padding: 0.938em;
    display: inline-block;
    color: #ffe66d;
    text-decoration: none;
}

footer .content-wrapper h2 {
    text-align: center;
}


/******************** MEDIA QURIES ********************/

@media(min-width: 576px) {
    article {
        flex-basis: 50%;
    }
}

@media(min-width: 992px) {
    article {
        flex-basis: 25%;
    }
}

/* Media query for small devices */

@media (max-width: 768px) {
    .contact-list {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items horizontally */
    }

    .contact-list li {
        margin-bottom: 15px; /* Increase space between items */
    }

    .contact-list li i {
        position: static; /* Reset positioning */
        margin-bottom: 10px; /* Add space between icons and text */
    }
}